h1,h2,h3,h4,h5,h6,input,p {
    font-family: 'Poppins', sans-serif;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the  text there */
}

body {
    color: white;
    text-align: center;
    background-image: url('./assets/workouts-bg.png');
}

.workoutStatus {
    color: black;
    background-color: rgba(255, 255, 255, 0.644) ;
    border-radius: 10px;
    margin: 0 auto;
    width: 90vw;
    padding-top: 10px;
    padding-left: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 35px;
    .btn1 {
        color: #5283F4;
        width: 100%;
        background: white;
        border: transparent;
        border-radius: 40px;
        margin-bottom: 5px;
    }
}

.profileDiv {
    margin-top: 30px;
    .btn {
        color: white;
        width: 35%;
        background: #5283F4;
        border-radius: 40px;
    }
}

.welcome {
    h1 {
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 66px;
        letter-spacing: 0.9999998807907104px;
        text-align: center;
    }
    h5 {
        // color: linear-gradient(114.44deg, #7D83FF 0%, #FFA3FD 100%);
        background: -webkit-linear-gradient(114.44deg, #7D83FF 0%, #FFA3FD 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin: 50px auto;
        line-height: 50px;
        font-size: 24px;
    }
    p {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px;
        letter-spacing: 0.9999998807907104px;
        text-align: center;
    }
    .btn {
        width: 160px;
        display: block;
        margin: 30px auto;
        background-color: white;
        border: 2px solid rgba(20, 20, 43, 0.13);
        color: black;
        border-radius: 15px;
        &:hover,&:focus,&:active{
            color: #00BA88;
            background: #fff;
            path {
                stroke:#00BA88;
            }
        }
    }
    // .btn:active {
    //     background-color: white;
    //     color: yellowgreen;
    // }
    .link {
        text-decoration: underline;
        letter-spacing: 1px;
    }
    a {
        color: white;
        text-decoration: none;
    }
    background-image: url('../src/assets/welcome-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    padding: 20px;
    color: white;
}

.sign-in {
    .py-2{
        margin: 85px auto 60px;
    }
    input {
        border-radius: 10px;
        border: none;
        width: 85%;
        margin: 40px auto;
        font-size: 16px;
    }
    .btn {
        width: 160px;
        display: block;
        margin: 30px auto;
        background-color: white;
        border: 2px solid rgba(20, 20, 43, 0.13);
        color: black;
        border-radius: 15px;
        &:hover,&:focus,&:active{
            color: #00BA88;
            background: #fff;
            path {
                stroke:#00BA88;
            }
        }
    }
    p {
        margin: 50px auto 5px;
    }
    a {
        color:  #00BA88;
    }
    background-image: url('../src/assets/welcome-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    // width: 100%;
    height: 100vh;
    padding: 20px;
    color: white;
}

.sigup {
    // input[type=range]{
    //     -webkit-appearance: none;
    //     margin: 10px 0;
    //     width: 100%;
    // }
    // input[type=range]::-webkit-range-thumb {
    //     box-shadow: 1px 1px 7px #EDD8E7;
    //     border: 7px solid #c994e0b6;
    //     height: 36px;
    //     width: 36px;
    //     border-radius: 50px;
    //     background: #b361f1;
    //     cursor: pointer;
    //   }
    //   input[type=range]::-webkit-slider-runnable-track {
    //     width: 100%;
    //     height: 5px;
    //     cursor: pointer;
    //     animate: 0.2s;
    //     box-shadow: 0px 0px 0px #000000;
    //     background: #2497E3;
    //     border-radius: 1px;
    //     border: 0px solid #000000;
    //   }
    input {
        margin: 0 auto 40px;
        justify-items: center;
        border-radius: 10px;
    }
    .btn {
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.8);
        width: 40%;
    }
    h2 {
        margin-bottom: 50px;
    }
    p {
        margin: 40px auto 5px;
    }
    a {
        color: #00BA88;
    }
    background-image: url('../src/assets/signup-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    padding: 40px;
    color: white;
}

.pendingWorkout {
    position: absolute; 
    // z-index: 1; 
}

.plannetName {
    //color: linear-gradient(#EB0000, #FFDB80)
    background: -webkit-linear-gradient(#EB0000, #FFDB80);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menu {
    float: left;
    top: 10px;
    margin-left: 20px;
    position: relative;
    display: inline-block;
}

.menu-items {
    position: absolute;
    left: 40px;
    top: 100px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
}

.menu-items a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.menu-items a:hover {
    background-color: #f1f1f1;
    border-radius: 10px;
}

  