h1,h2,h3,h4,h5,h6,p {
    font-family: 'Poppins', sans-serif;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the  text there */
}

body {
    color: white;
    text-align: center;
    background-image: url('./imgs/Home/image\ 11.png');
}

.workoutStatus {
    color: black;
    background-color: white;
    border-radius: 10px;
    margin: 0 auto;
    width: 90vw;
    padding-top: 10px;
    padding-left: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 35px;

}

.btn {
    color: white;
    width: 35%;
    background: #5283F4;
    border-radius: 40px;
}

.welcome {
    h5 {
        color: rgb(142, 82, 170);
        margin: 50px auto;
    }

    .btn {
        width: 160px;
        display: block;
        margin: 30px auto;
        background-color: white;
        color: black;
    }

    .btn:hover {
        background-color: white;
        color: yellowgreen;
    }

    a {
        color: white;
        text-decoration: none;
    }

    background-image: url('../src/assets/welcome-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    padding: 20px;
    color: white;
}

.sigup{
    background-image: url('../src/assets/signup-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    padding: 20px;
    color: white;
}


